.card-bg {
    width: 100%;
    height: 100%;
    transform: skew(0deg, 2deg) rotate(-8deg);
    z-index: -2;
    

  }
  .grid-form {
    position: relative;
  
    background: white;
  }
/**********File Inputs**********/


@import url('https://fonts.googleapis.com/css?family=Cabin');



.main-container{
  border-style: dashed;
  text-align: center;
}

.input-container [type=file] {
  filter: alpha(opacity=0);
  opacity: 0;
  
}




.preview-container > img {
  margin: 0;
  width: 10%;
  
}

