{% extends "base-censista.html" %}
{% block title %}Censista -{% endblock title  %}
{% block content %}

<form method="post">
  {% csrf_token %}
<div class="row">

  <div class="col-lg-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Formulario</h5>

        <button type="submit" id="btnFormulario" name="btnFormulario" class="btn btn-primary mb-2"> Ingresar  <span class="badge bg-white text-primary"></span> </button>
      </div>
    </div><!-- End Button Badges -->


    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuarios</h5>

        <button type="button" class="btn btn-primary mb-2">
          Cambiar contraseña  <span class="badge bg-white text-primary"></span>
        </button>
      </div>
    </div><!-- End Button Badges -->

 
  </div>

  <div class="col-lg-6">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuario</h5>

        <button type="button" class="btn btn-primary mb-2">
        Editar datos usuario    <span class="badge bg-white text-primary"></span>
        </button>
      </div>
    </div><!-- End Button Badges -->

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporte arbol</h5>

        <button type="button" class="btn btn-primary mb-2">
          Ingresar  <span class="badge bg-white text-primary"></span>
        </button>
      </div>
    </div><!-- End Button Badges -->


  </div>

</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</form>
{% endblock content  %}
