<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Arboleado Santiago de Cali</title>

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <!-- Custom styles for this page -->
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4- toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

</head>


<body id="page-top">



  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-success topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
        </form>

        <!-- Topbar Search -->
        <form style="margin: center;">
          <p style="color: white;"> Arboleado Urbano de santiago de Cali </p>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell fa-fw"></i>
              <!-- Counter - Alerts -->
              <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                Alerts Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 12, 2019</div>
                  <span class="font-weight-bold">A new monthly report is ready to download!</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-success">
                    <i class="fas fa-donate text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 7, 2019</div>
                  $290.29 has been deposited into your account!
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-warning">
                    <i class="fas fa-exclamation-triangle text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="small text-gray-500">December 2, 2019</div>
                  Spending Alert: We've noticed unusually high spending for your account.
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
          </li>

          <!-- Nav Item - Messages -->
          <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-envelope fa-fw"></i>
              <!-- Counter - Messages -->
              <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header">
                Message Center
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_1.svg" alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                  <div class="text-truncate">Hi there! I am wondering if you can help me with a
                    problem I've been having.</div>
                  <div class="small text-gray-500">Emily Fowler · 58m</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_2.svg" alt="...">
                  <div class="status-indicator"></div>
                </div>
                <div>
                  <div class="text-truncate">I have the photos that you ordered last month, how
                    would you like them sent to you?</div>
                  <div class="small text-gray-500">Jae Chun · 1d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="img/undraw_profile_3.svg" alt="...">
                  <div class="status-indicator bg-warning"></div>
                </div>
                <div>
                  <div class="text-truncate">Last month's report looks great, I am very happy with
                    the progress so far, keep up the good work!</div>
                  <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="...">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div>
                  <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                    told me that people say this to all dogs, even if they aren't good...</div>
                  <div class="small text-gray-500">Chicken the Dog · 2w</div>
                </div>
              </a>
              <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
              <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
              </a>
              <a class="dropdown-item" href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
              </a>
            </div>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->








      <main>






        <div class="pb-3 px-3 rounded rounded-lg shadow-lg  aling-items-center">
          <img src="img/funa.png" class="rounded mx-auto d-block" style="max-width: 150px; max-height: 150px;">

          <!------------------------------------------------------------------------------------------------------------------------ ---
                          /------------------------------------------------------------------------------------------------------------------------ ---
                                                                  FURMULARIO 1 

                          -------------------------------------------------------------------------------------------------------------------------- ---
                          /------------------------------------------------------------------------------------------------------------------------ --->


          <form class="needs-validation" method="post" action="from2.html">

            <div class="row g-12">
              <div class="col-sm-12 pb-3">
                <label for="firstName" class="form-label">Vitalidad</label>
                <select name="barrio" id="barrio" onchange="tablehidden();" class="form-control">
                  <option value="1">Buena (Sano)</option>
                  <option value="1">Regular (Enfermo)</option>
                  <option value="2">Mala (Seco/Muerto)</option>

                </select>


                <div class="invalid-feedback">
                  Esta Accion es requerida
                </div>
              </div>
            </div>

            <div id="tablehidden" style="display:block;">
              <div class="container-fluid">
                <div class="table-responsive-lg">
                  <table class="table table-sm table-primary shadow p-3 mb-5 bg-white rounded">
                    <thead>
                      <tr>
                        <th class="bg-dark text-light">Raíces</th>
                        <th class="bg-dark "></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <th scope="row" class="text-dark">Heridas / Golpes</th>
                        <div class="btn-group" data-toggle="buttons">
                          <td class="d-flex flex-row-reverse  mx-5">
                            <label class="btn btn-outline-primary  px-5 mx-1">
                              <input type="radio" name="options1.3" id="option1.3" autocomplete="on"> no
                            </label>
                            <label class="btn btn-outline-secondary  px-5 mx-1">
                              <input type="radio" name="options1.3" id="option1.3" autocomplete="off"> si
                            </label>
                          </td>
                        </div>
                      </tr>
                      <tr class="table-secondary">
                        <th scope="row" class="text-dark">Quemaduras</th>
                        <div class="btn-group" data-toggle="buttons">
                          <td class="d-flex flex-row-reverse  mx-5">
                            <label class="btn btn-outline-primary  px-5 mx-1">
                              <input type="radio" name="options1" id="option1" autocomplete="on"> no
                            </label>
                            <label class="btn btn-outline-secondary  px-5 mx-1">
                              <input type="radio" name="options1" id="option1" autocomplete="off"> si
                            </label>
                          </td>
                        </div>
                      </tr>
                      <tr class="table-light rounded">
                        <th scope="row" class="text-dark">Necrosis</th>
                        <div class="btn-group" data-toggle="buttons">
                          <td class="d-flex flex-row-reverse  mx-5">
                            <label class="btn btn-outline-primary  px-5 mx-1">
                              <input type="radio" name="options12.34" id="option12.34" autocomplete="on"> no
                            </label>
                            <label class="btn btn-outline-secondary  px-5 mx-1">
                              <input type="radio" name="options12.34" id="option12.34" autocomplete="off"> si
                            </label>
                          </td>
                        </div>
                      </tr>
                      <tr class="table-secondary">
                        <th scope="row" class="text-dark">Poda antitécnica</th>
                        <div class="btn-group" data-toggle="buttons">
                          <td class="d-flex flex-row-reverse  mx-5">
                            <label class="btn btn-outline-primary  px-5 mx-1">
                              <input type="radio" name="options10" id="option10" autocomplete="on"> no
                            </label>
                            <label class="btn btn-outline-secondary  px-5 mx-1">
                              <input type="radio" name="options10" id="option10" autocomplete="off"> si
                            </label>
                          </td>
                        </div>
                      </tr>
                      <tr class="table-light">
                        <th scope="row" class="text-dark">Acumulación escombros</th>
                        <div class="btn-group" data-toggle="buttons">
                          <td class="d-flex flex-row-reverse  mx-5">
                            <label class="btn btn-outline-primary  px-5 mx-1">
                              <input type="radio" name="options11" id="option11" autocomplete="on"> no
                            </label>
                            <label class="btn btn-outline-secondary  px-5 mx-1">
                              <input type="radio" name="options11" id="option11" autocomplete="off"> si
                            </label>
                          </td>
                        </div>
                      </tr>
                          
                    </tbody>
                  </table>
                </div>

              </div>
              <div class="table-responsive-lg">
                <table class="table table-sm table-primary shadow p-3 mb-5 bg-white rounded">
                  <thead>
                    <tr>
                      <th class="bg-dark text-light">Fuste</th>
                      <th class="bg-dark "></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-light">
                      <th scope="row" class="text-dark">Anillado</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options12.43" id="option12.43" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options12.43" id="option12.43" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="row" class="text-dark">Heridas/Golpes</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options12.13" id="option12.13" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options12.13" id="option12.13" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                    <tr class="table-light rounded">
                      <th scope="row" class="text-dark">Quemaduras</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options12.23" id="option12.23" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options12.23" id="option12.23" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="row" class="text-dark">Perforado / barrenado</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options10" id="option10" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options10" id="option10" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                    <tr class="table-light">
                      <th scope="row" class="text-dark">Necrosis</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options11" id="option11" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options11" id="option11" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                    <tr class="table-secondary rounded">
                      <th scope="row" class="text-dark">Descortezado</th>
                      <div class="btn-group" data-toggle="buttons">
                        <td class="d-flex flex-row-reverse  mx-5">
                          <label class="btn btn-outline-primary  px-5 mx-1">
                            <input type="radio" name="options12" id="option12" autocomplete="on"> no
                          </label>
                          <label class="btn btn-outline-secondary  px-5 mx-1">
                            <input type="radio" name="options12" id="option12" autocomplete="off"> si
                          </label>
                        </td>
                      </div>
                    </tr>
                  </tbody>
                  <tr class="table-light">
                    <th scope="row" class="text-dark">Tumores / agallas</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options12.1" id="option12.1" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options12.1" id="option12.1" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  </tbody>
                  <tr class="table-secondary rounded">
                    <th scope="row" class="text-dark">Poda antitécnica</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse rounded mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options12.2" id="option12.2" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options12.2" id="option12.2" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  </tbody>
                  <tr class="table-light">
                    <th scope="row" class="text-dark">Acumulación escombros</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options12.3" id="option12.3" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options12.3" id="option12.3" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>

              <table class="table table-sm table-responsive-lg table-primary shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th class="bg-dark text-light">Copa (Follaje / Ramas)</th>
                    <th class="bg-dark "></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="row" class="text-dark">Heridas/Golpes</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options13" id="option13" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5  mx-1">
                          <input type="radio" name="options13" id="option13" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row" class="text-dark">Quemaduras</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options1.5" id="option1.5" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options1.5" id="option1.5" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-light rounded">
                    <th scope="row" class="text-dark">Defoliación</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options1.6" id="option1.6" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options1.6" id="option1.6" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row" class="text-dark">Clorosis</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options17" id="option17" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options17" id="option17" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-light">
                    <th scope="row" class="text-dark">Minado / enroscamiento</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options18" id="option18" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options18" id="option18" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-secondary rounded">
                    <th scope="row" class="text-dark">Necrosis ramas</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options19" id="option19" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options19" id="option19" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-light rounded">
                    <th scope="row" class="text-dark">Parasitas (ej. matapalo)</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options2.6" id="option2.6" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options2.6" id="option2.6" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row" class="text-dark">Poda antitécnica</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options17.1" id="option17.1" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options17.1" id="option17.1" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-light rounded">
                    <th scope="row" class="text-dark">Contaminación atmosférica</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options2s.6" id="option2s.6" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options2s.6" id="option2s.6" autocomplete="off"> si
                        </label>
                      </td>
                    </div>

                </tbody>
              </table>
              <div class="table-responsive-lg">
              <table class="table table-sm table-primary shadow p-3 mb-5 bg-white rounded">
                <thead>
                  <tr>
                    <th class="bg-dark text-light">Afectación Estado general</th>
                    <th class="bg-dark "></th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-light">
                    <th scope="row" class="text-dark">Raíces en buen estado</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options20" id="option20" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5  mx-1">
                          <input type="radio" name="options20" id="option20" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-secondary">
                    <th scope="row" class="text-dark">Fuste Sano</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options21" id="option21" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options21" id="option21" autocomplete="off"> si
                        </label>
                      </td>
                    </div>
                  </tr>
                  <tr class="table-light rounded">
                    <th scope="row" class="text-dark">Copa (Follaje / ramas) Sana</th>
                    <div class="btn-group" data-toggle="buttons">
                      <td class="d-flex flex-row-reverse  mx-5">
                        <label class="btn btn-outline-primary  px-5 mx-1">
                          <input type="radio" name="options22" id="option22" autocomplete="on"> no
                        </label>
                        <label class="btn btn-outline-secondary  px-5 mx-1">
                          <input type="radio" name="options22" id="option22" autocomplete="off"> si
                        </label>
                      </td>
                    </div>

                </tbody>
              </table>
            </div>
            </div>

            <hr class="my-4">

            <div class="col-12">
              <label for="username" class="form-label">Personas</label>
              <div class="input-group has-validation">

                <input type="text" class="form-control" id="username" placeholder="Transito o flujo peatonal" required>
                <div class="invalid-feedback">
                  La Direccion es requerida
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Vehículos </label>
              <input type="text" class="form-control" id="email" placeholder="Transito o flujo vehícular">
              <div class="invalid-feedback">
                Transito o flujo vehícular
              </div>
            </div>
            <hr class="my-4">

            <div class="col-12">
              <label for="username" class="form-label">Construcciones</label>
              <div class="input-group has-validation">

                <input type="text" class="form-control" id="username"
                  placeholder="Existencia de construcciones afectables por caida de fuste o ramas" required>
                <div class="invalid-feedback">
                  La Direccion es requerida
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Redes aéreas</label>
              <input type="text" class="form-control" id="email" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>



            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <a class="page-link" href="tables2.html">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="tables1.html">1</a></li>
                <li class="page-item"><a class="page-link" href="tables2.html">2</a></li>
                <li class="page-item"><a class="page-link" href="tables3.html">3</a></li>
                <li class="page-item disabled"><a class="page-link" href="table4.html">4</a></li>
                <li class="page-item"><a class="page-link" href="table5.html">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Finalizar </a>
                </li>
              </ul>
            </nav>
          </form>






      </main>


      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->

    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <img src="img/footer.png" alt="">
        <br>
        <span style="text-align: end;"> Santiago de Cali, Colombia
          Dirección: Carrera 26 #7-08 of. 204 Teléfono: +57 (318) 3983729
          funaguacolombia.org
          2022 - 2023
        </span>

      </div>
    </div>
  </footer>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  <!-- tables disable-->
  <script src="js/js.js"></script>
</body>

</html>