{% extends "baseformulario.html" %}

{% block formulario %}
<form> 
    <div class="col-md-12 col-lg-12">
        <label for="Placa Antigua">Placa Antigua:</label>
        <input type="text" id="Placa Antigua" class="form-control">
    </div>
    <div class="container">

        <div class="w-auto" id="divMap"></div>
        <div class="py-5 text-center">

            <h5 style="color: black;">Ubicación Geográfica:</h5>
            <div class="row">
                <div class="col">Latitud (GD)
                    <p id="textLatitude" class="form-control"
                        placeholder="Latitud"></p>
             

                </div>
                <div class="col">Longitud (GD)
                    <p id="textLongitude" class="form-control"
                        placeholder="Longitud"></p>
                </div>
            </div>
        </div>

        <div class="container">


            <div class="row">
                <div class="col">Barrio
                    <select name="barrio" id="barrio" class="form-control">
                        <option value="">Selecioanar...</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                    </select>
                </div>

                <div class="col">Comuna
                    <select name="comuna" id="comuna" class="form-control">
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                    </select>
                </div>
            </div>

            <br>

            <div class="form-group d-flex flex-column mx-auto">
                <label for="Placa Antigua">Dirección:</label>
                <input type="text" id="direccion" name="direccion"
                    class="form-control">
            </div>

            <div class="row">
                <div class="col">Nombre común
                    <select name="comun" id="comun" class="form-control">
                        <option value="">Selecioanar...</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                        <option value="">Hola mundo</option>
                    </select>
                </div>

                <div class="col">Nombre científico
                    <select name="cientifico" id="cientifico" class="form-control">
                        <option value="">Selecioanar...</option>
                        <option value="">01</option>
                        <option value="">02</option>
                        <option value="">03</option>
                        <option value="">04</option>
                    </select>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">Familia
                    <input type="text" class="form-control" placeholder=""
                        aria-label="Genero" disabled>
                </div>
                <div class="col">Genero
                    <input type="text" class="form-control" placeholder=""
                        aria-label="Genero" disabled>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">Estado de Madurez
                    <select name="madurez" id="madurez" class="form-control">
                        <option value="">Juvenil</option>
                        <option value="">Maduro</option>
                        <option value="">Longevo</option>
                    </select>
                </div>

                <div class="col">Estado del registro
                    <select name="registro" id="registro" class="form-control">

                        <option value="">Nuevo</option>
                        <option value="">Antiguo</option>
                        <option value="">Revisión</option>
                        <option value="">Eliminado</option>
                    </select>
                </div>
            </div>
        </form>
{% endblock formulario %}