{% extends "baseformulario.html" %}

{% block formulario %}
    <form> 
    <div class="col-md-12 col-lg-12">
      <label for="Placa Antigua">Forma del Tronco:</label>
      <input type="text" id="Placa Antigua" class="form-control">
    </div>  
    <br>
 
    <div class="form-group d-flex flex-column mx-auto">
        <label for="Placa Antigua">Orientacion</label>
        <selet type="text" id="orientacion" name="orientacion" class="form-control">
        </selet>
      </div>
     
    <br>
    <h6 style="color: black;">Alturas (metros) :</h6>
    <br>

    <div class="row">
      <div class="col">Comercial (Fuste)
        <input type="number" name="comercial" id="comercial" class="form-control" placeholder="Hc (m)">
         
      </div>

      <div class="col">Total del árbol
        <input type="number" name="totalarbol" id="totalarbol" class="form-control" placeholder="Ht (m)">
         
      </div>
    </div>

    <br>

    <div class="form-group d-flex flex-column mx-auto">
      <label for="Placa Antigua">Circunferencia fuste (centímetros) :</label>
      <input type="number" id="cfc" name="cfc" class="form-control" placeholder="CAP (m)">
    </div>

    <br>
    <h6 style="color: black;">Diámetro copa (metros) :</h6>
    <br>

    <div class="row">
      <div class="col">Eje mayor
        <input  type="number" name="ejemayor" id="ejemayor" class="form-control">
          
      </div>

      <div class="col">Eje menor
        <input type="number" id="ejemenor" class="form-control">
          
      
      </div>
    </div>
    <br>
    <div class="form-group d-flex flex-column mx-auto">
        <label for="Placa Antigua">Exposición de la copa a la luz</label>
        <select type="number" id="cfc" name="cfc" class="form-control" placeholder="CAP (m)">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
        </select>
      </div>
      <label for="Placa Antigua">Copa viva</label>  
    <div class="row">
      <div class="col">Altura (m)
        <input type="number" class="form-control" placeholder="ACV (m)" aria-label="Genero" >
       
      </div>
      <div class="col">% copa ausente
        <input type="number" class="form-control" placeholder="(%)" aria-label="Genero" >
     
      </div>
    </div>
    <br>
    <div class="form-group d-flex flex-column mx-auto">
        <label for="Placa Antigua">Diámetro medio de ramas</label>
        <input type="number" id="cfc" name="cfc" class="form-control" placeholder="CAP (m)">
      </div>
      <div class="form-group d-flex flex-column mx-auto">
        <label for="Placa Antigua">Sistema Radicular</label>
        <input type="number" id="cfc" name="cfc" class="form-control" placeholder="CAP (m)">
      </div>
    </form>
{% endblock formulario %}

